<?xml version="1.0" encoding="utf-8" ?>
<CenaPlus>
  <Judge>
    <WorkingDirectory>C:\CenaPlusRunPool</WorkingDirectory>
    <Security>
      <UserName></UserName>
      <Password></Password>
    </Security>
    <Arguments>
      <C>gcc -O2 -o Main.exe -DONLINE_JUDGE -Wall -lm --static -std=c99 Main.c</C>
      <CXX>g++ -O2 -o Main.exe -DONLINE_JUDGE -Wall -lm --static -std=c++98  -ansi Main.cpp</CXX>
      <CXX11>g++ -O2 -o Main.exe -DONLINE_JUDGE -Wall -lm --static -std=c++11  -ansi Main.cpp</CXX11>
      <Java>java Main</Java>
      <Javac>javac Main.java</Javac>
      <Pascal>fpc -O2 -dONLINE_JUDGE Main.pas</Pascal>
      <Python27>python2.7.exe Main.py</Python27>
      <Python33>python3.3.exe Main.py</Python33>
      <Ruby>ruby Main.rb</Ruby>
    </Arguments>
    <Directories>
      <gcc></gcc>
      <gccinc></gccinc>
      <gcclib></gcclib>
      <fpc></fpc>
      <jdk></jdk>
      <py27></py27>
      <py33></py33>
      <rb></rb>
    </Directories>
  </Judge>
  <Server>
    <ServerName>Local Cena+ Server</ServerName>
    <ServerPort>9980</ServerPort>
  </Server>
</CenaPlus>